{% extends 'base.html.twig' %}

{% block title %}Crear Producte{% endblock %}

{% block body %}


    <div class="container">
        <a href="{{ path('app_elements') }}" class="btn btn-primary">Tornar</a>
        <h1>#{{ element.id }}</h1>

    </div>
{% endblock %}
