{% extends 'base.html.twig' %}

{% block title %}Nova factura{% endblock %}

{% block body %}

    <div class="container">
        <h1>Nova factura</h1>

        {{ form(form) }}
    </div>
{% endblock %}
